!!! 5
%html
   
  %head
    %title= "La Cala Catering"
    %meta{ :charset => 'utf-8'}
    %meta{'http-equiv' => 'content-type', :content => "text/html;charset=UTF-8"}
    %meta{ :content => "Catering company based in Romsey, Hampshire, UK. Specialises in catering Spanish food and Spanish inspired food for all sort of events. Run by Masterchef 2011 finalist Anneliese Kiely", :name => "description" }
    -# Facebook stuff   
    %meta{ :content => "3 days", :name => "revisit-after" }
    %meta{:property=>"og:title" ,:content=>"La Cala Catering" }
    %meta{:property=>"og:type", :content=>"website" }
    %meta{ :property=>"og:url", :content=>"http://www.lacalacatering.com" }
    %meta{:property=>"og:image", :content=>"" }
    %meta{ :property=>"og:site_name", :content=>""}
    %meta{:property=>"fb:admins", :content=>"100003075374410"}
  
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true

    %link{ rel: "shortcut icon", href: "/favicon.ico" }

  

    = javascript_include_tag "application", "data-turbolinks-track" => true

    = csrf_meta_tags

  %body
    %header
     
      
      .logo
        %a{ :href => "/"} 
          %img{:src => image_url('logo.jpg'), :alt => "La Cala Catering"}
      %iframe{:src=>"http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.lacalacatering.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80",
       :scrolling=>"no", :frameborder=>"0",
       :style=>"border:none; overflow:hidden; width:240px; height:40px; float:right; margin-top: -100px;" ,:allowTransparency=>"true"}
    #menu{:class => 'menu'}
      %ul
        %li 
          = link_to "Home", page_path('Home') 
            
        %li
          = link_to "Food", page_path('Food') 
            
        %li
          = link_to "About", page_path('About') 
            
        %li
          = link_to "Contact", page_path('Contact')
            
          

    #content
      = yield    
      
    %footer
      %p
        Copyright 2014 La Cala Catering. All rights reserved.
